# Cache files
__pycache__/
.pyc
.DS_Store

# IDE files
.vscode/
.vs/
.idea/
.cache/
compile_commands.json

# Project-specific ignores
.make_options.mk
extracted/
build/
expected/
docs/doxygen/
*.z64
*.n64
*.v64

# Tools
.venv/
ctx.c
tools/*dSYM/
graphs/

# Per-user configuration
# If you want to use your own gitignore rules without modifying this file:
# - use `git config core.excludesFile path/to/my_gitignore_file`
# - or edit `.git/info/exclude`
build_pc/
assets_pc/
zelda
/src/linux/vrom_table.h
assets_dc/
build_dc/ 
pc/
zelda.elf
src/dreamcast/vrom_table.h
imgui.ini
testcast
note.md
src/dreamcast/hello.c
src/dreamcast/pvr/
src/dreamcast/main_gl.c

# AICA beam-encode cache
tools/aica/.encode_cache/
